<!-- Imprtamos todo el ducumento de layout -->
{% extends './crudAmin.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/comida.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{% block enlaceLogo %}
<a class="navbar-brand" href="/productos"><i class="fa-solid fa-bowl-food"></i> Food&Events <i
    class="fa-solid fa-champagne-glasses"></i></a>
{% endblock %}
{% block link %}


{% endblock %}



{% block body %}
<div class="titulo-productos">
  <h1>Esta es la Comida Disponible</h1>
</div>

<!-- Mensaje de Alerta -->
{% with mensage = get_flashed_messages() %} {% if mensage %} {%for mensa in
mensage %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{mensa}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<!-- Aqui empieza la tabla -->

<div class="contenedor_padre">
  <div class="sectionTabla" id="filaBtn">
    <form action="" > 
      <table class="table tablaStilo">
        <thead>
          <tr>
            <td><strong>Nombre</strong></td>
            <td><strong>Foto</strong></td>
            <td><strong>Descripcion</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Cantidad</strong></td>
            <td><strong>Operacion</strong></td>
          </tr>
        </thead>

        <tbody>
          {% for i in datos %}
          <tr>
            <td>
              <p>{{i.1}}</p>
              <input value="{{i.1}}" hidden="true" id="claseDeInputs" class="claseDeInputs" name="NombreP">
            </td>
            <td>
              <img class="img-thumbnail" width="150" src="../uploads/{{i.2}}" alt="">
              <input hidden="true" class="form-control" type="file" name="FileP" id="" value="{{i.2}}"
                class="form-control" />
            </td>
            </td>
            <td>
              <p>{{i.3}}</p>
              <input value="{{i.3}}" hidden="true" class="claseDeInputs" name="DescripcionP">
            </td>
            <td>
              <p>{{i.4}}</p>
              <input value="{{i.4}}" hidden="true" class="claseDeInputs" name="PrecioP">
            </td>
            <td><input id="cantidades" type="number" class="ingresarCantidad" style="width: 50px;" name="CantidadP" value="0"></td>
            <td>
              <button type="submit" class="btn btn-primary " id="botonAgregarComida">Agregar</button> 
              <!-- <a href="" class="btn btn-primary" type="submit">Agregar</a>  -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>


</div>


{% endblock %}




{% block script %}
<script src="../../static/js/comida.js"></script>
{% endblock %}