{% extends './productos.html' %}
{% block customCSS %}
<link rel="stylesheet" href="../../static/css/productos-inicio.css">
<link rel="stylesheet" href="../../static/css/cuentaCliente.css">
{% endblock %}

{% block enlaces %}
<a class="nav-link active" aria-current="page" href="/comida"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    Comida</a>
<a class="nav-link active" href="/eventosDisponibles"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Eventos</a>

{% endblock %}


{% block bodyProductos %}

<h1>Hola Cliente {{datos.5}} </h1>


<div class="card formCrear">
  <form action="/updateCuentaCliente/{{datos.0}}" enctype="multipart/form-data" method="post" class="input flex-nowrap">
    <input
      type="text"
      name="Id"
      id=""
      placeholder="Nombre Comida"
      value="{{datos.0}}"
      hidden="true"

    />
    <h3>Editar Cuenta</h3>

    <label for="">Nombre: </label>
    <span> {{datos.1}} </span>
    <input
      type="text"
      name="Nombre"
      id=""
      value="{{datos.1}}"
      class="form-control"
      disabled
      hidden="true"
    />
    <label for="">Apellido: </label>
    <span> {{datos.2}} </span>
    <input
      class="form-control"
      type="text"
      name="Apellido"
      id=""
      class="form-control"
      value="{{datos.2}}"
      disabled
      hidden="true"
    />
    <br>
    <label for="">Celular</label>
    <input
      class="form-control"
      type="text"
      name="Celular"
      id=""
      class="form-control"
      value="{{datos.3}}"
    />
    <label for="">Email</label>
    <input
      class="form-control"
      type="text"
      name="Email"
      id=""
      class="form-control"
      value="{{datos.4}}"
    />
    <br>
    <label for="">Usuario</label>
    <span>{{datos.5}}</span>
    <input
      type="text"
      name="Usuario"
      id=""
      value="{{datos.5}}"
      class="form-control"
      disabled
      hidden="true"
    />
    <br>
    <label for="">Contraseña</label>
    <input
      type="text"
      name="Contraseña"
      id=""
      value="{{datos.6}}"
      class="form-control"
    />
    <button type="submit" class="btn btn-warning">Editar</button>
    <a href="/productos" class="btn btn-secondary">cancelar</a>
  </form>
</div>

{% endblock %}

      





