<!-- Imprtamos todo el ducumento de layout -->
{% extends './crudAmin.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/comida.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{% block enlaceLogo %}
<a class="navbar-brand" href="/productos"><i class="fa-solid fa-bowl-food"></i> Food&Events <i
    class="fa-solid fa-champagne-glasses"></i></a>
{% endblock %}
{% block link %}
<a class="nav-link active" aria-current="page" href="#Crear"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>

{% endblock %}



{% block body %}
<div class="titulo-productos">
  
  <h1>Eventos Disponibles</h1>
</div>

{% with mensage = get_flashed_messages() %} {% if mensage %} {%for mensa in
mensage %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{mensa}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="contenedor_padre">

  <div class="sectionTabla" id="Productos">
          Nombre Evento
          Imagen
          Descripcion
          Hora
          Operaciones
        
      <div id="filaBtn" >
        {% for i in datos %}
          <p>{{i.1}}</p>
          <img class="img-thumbnail" width="200" src="../uploads/{{i.2}}" alt="">
          <p>{{i.3}}</p>
          <input type="text" id="valorHora" class="horaClase" value="{{i.4}}">
          <!-- <p id="valorHora" class="horaClase">{{i.4}}</p> -->
          <div id="arraybtns">
            <a href=""class="btn btn-info" id="btnsReservar" >Reservar</a>
          </div>
          <br>
          <br>
        {% endfor %}
      </div>
  </div>

</div>


{% endblock %}




{% block script %}
<script src="../../static/js/eventos.js"></script>
{% endblock %}