<!-- Imprtamos todo el ducumento de layout -->
{% extends './crudAmin.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/inicio.css" />
{% endblock %}

<!-- Creamos el body sel documento -->
{% block body %}

<div class="card formCrear">
  <form action="/updateCliente/{{datos.0}}" enctype="multipart/form-data" method="post" class="input flex-nowrap">
    <input
      type="text"
      name="Id"
      id=""
      placeholder="Nombre Comida"
      value="{{datos.0}}"
      hidden="true"
    />
    <h3>Editar Cliente</h3>
    <label for="">Nombre</label>
    <input
      type="text"
      name="Nombre"
      id=""
      placeholder="Nombre Evento"
      value="{{datos.1}}"
      class="form-control"
    />
    <label for="">Apellido</label>
    <input
      class="form-control"
      type="text"
      name="Apellido"
      id=""
      class="form-control"
      value="{{datos.2}}"
    />
    <label for="">Celular</label>
    <input
      class="form-control"
      type="text"
      name="Celular"
      id=""
      class="form-control"
      value="{{datos.3}}"
    />
    <label for="">Email</label>
    <input
      class="form-control"
      type="text"
      name="Email"
      id=""
      class="form-control"
      value="{{datos.4}}"
    />
    <br>
    <label for="">Usuario</label>
    <input
      type="text"
      name="Usuario"
      id=""
      value="{{datos.5}}"
      class="form-control"
      disabled
    />
    <label for="">Contraseña</label>
    <input
      type="text"
      name="Contraseña"
      id=""
      value="{{datos.6}}"
      class="form-control"
    />
    <button type="submit" class="btn btn-warning">Editar</button>
    <a href="/administrarClientes" class="btn btn-dark">Cancelar</a>
  </form>
</div>

{% endblock %}