{% extends './crudAmin.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/inicio.css" />
{% endblock %}

<!-- Creamos el body sel documento -->
{% block body %}

<div class="card formCrear">
  <form action="/updateEvents/{{datos.0}}" enctype="multipart/form-data" method="post" class="input flex-nowrap">
    <input
      type="text"
      name="Id"
      id=""
      placeholder="Nombre Comida"
      value="{{datos.0}}"
      hidden="true"
    />
    <h3>Editar Evento</h3>
    <label for="">Nombre Evento</label>
    <input
      type="text"
      name="Nombre"
      id=""
      placeholder="Nombre Evento"
      value="{{datos.1}}"
      class="form-control"
    />
    <label for="">Imagen</label>
    <input
      class="form-control"
      type="file"
      name="File"
      id=""
      class="form-control"
    />
    <img class="img-thumbnail" width="80" src="../uploads/{{datos.2}}" alt=""></td>
    <br>
    <label for="">Lugar Evento</label>
    <input
      type="text"
      name="Descripcion"
      id=""
      placeholder="Descripcion"
      value="{{datos.3}}"
      class="form-control"
    />
    <label for="">Hora</label>
    <input
      type="text"
      name="Precio"
      id=""
      placeholder="10:00"
      value="{{datos.4}}"
      class="form-control"
    />
    <button type="submit" class="btn btn-warning">Editar</button>
    <a href="/administrarEvents" class="btn btn-dark">Cancelar</a>
  </form>
</div>

{% endblock %}