<!-- Imprtamos todo el ducumento de layout -->
{% extends './crudAmin.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/inicio.css" />
{% endblock %}
{% block link %}
<a class="nav-link active" aria-current="page" href="#Crear"><i class="fa-solid fa-gear"></i> Crear</a>
<a class="nav-link active" aria-current="page" href="#Productos"><i class="fa-solid fa-gear"></i> Productos</a>
{% endblock %}
<!-- Creamos el body sel documento -->
{% block body %}
<!-- <h1 class="title_login"><i class="fa-solid fa-bowl-food"></i>Food&Events<i class="fa-solid fa-champagne-glasses"></i></h1> -->
{% with mensage = get_flashed_messages() %} {% if mensage %} {%for mensa in
mensage %}
<!-- <p class="p-mensaje">{{mensa}}</p> -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{mensa}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<div class="sectionTabla" id="Productos">
  <h1>Productos Disponibles</h1>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Foto</td>
        <td>Descripcion</td>
        <td>Precio</td>
        <td>Operaciones</td>
      </tr>
    </thead>
    <tbody>
      {% for i in datos %}
      <tr>
        <td>{{i.1}}</td>
        <td>
          <img class="img-thumbnail" width="80" src="../uploads/{{i.2}}" alt=""></td>
         </td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>
            <a href="/edit/{{i.0}}" class="btn btn-primary">Editar</a>
            <a href="/delete/{{i.0}}" class= "btn btn-danger" id="botonDelete">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

<div class="card formCrear" id="Crear">
  <form action="/addFood" method="post" enctype="multipart/form-data" class="input flex-nowrap">
    <h3>Tabla de Registro </h3>
    <label for="">Nombre</label>
    <input
      class="form-control"
      type="text"
      name="Nombre"
      id=""
      placeholder="Nombre Comida"
    />
    <label for="">Foto</label>
    <input
      class="form-control"
      type="file"
      name="File"
      id=""
    />
    <label for="">Descripcion</label>
    <textarea
      class="form-control"
      name="Descripcion"
      id=""
      cols="30"
      rows="0"
      placeholder="papas, salsa, entre otros"
    ></textarea>
    <label for="">Precio</label>
    <input
      class="form-control"
      type="text"
      name="Precio"
      id=""
      placeholder="10"
    />
    <button class="btn btn-success botonCrear" type="submit">Agregar</button>
  </form>
</div>


{% endblock %}
{% block script %}
<script src="../static/js/administrarFood.js"></script>
{% endblock %}
