<!-- Imprtamos todo el ducumento de layout -->
{% extends './layout.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/formulario_registro.css"> 
{% endblock %}

<!-- Creamos el body sel documento -->
{% block body %}

<h1 class="titel_form"><i class="fa-solid fa-bowl-food"></i>Food&Events<i class="fa-solid fa-champagne-glasses"></i></h1>
{% with mensage = get_flashed_messages() %}
{% if mensage %}
{%for mensa in mensage %}
    <p class="p-mensaje">{{mensa}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form class="contenedor_form" action="/add" method="POST" id="formulario">
    <div class="container_formulario">
        <div class="img_cont">
            <img src="../static/img/formulario_registro.png" alt="" class="img-conte">
        </div>
        <div class="form_cont" >
            <h3>Crear Cuenta</h3>

            <label for="name">Nombre</label>
            <input type="text" placeholder="Nombre" id="name" name="nombre" required>

            <label for="lastname">Apellido</label>
            <input type="text" placeholder="Apellido" id="lastname" name="apellido" required>

            <label for="email">Email</label>
            <input type="email" placeholder="email@gmail.com" id="email" name="correo" required>

            <label for="celular">Celular</label>
            <input type="number" placeholder="31656236569" id="celular" name="celular" required>

            <!-- <label for="username">Username</label>
            <input type="text" placeholder="User" id="username" name="usuario" required> -->

            <label for="password" >Password</label>
            <input type="password" placeholder="Password" id="password" name="contraseña" required>

            <button class="btn btn-primary">Crear cuenta</button> 
            <button class="btn btn-info"><a href="/login" class="btn btn-info">Iniciar Sesion</a>
        </div>
        
    </div>
</form>
<script src="../static/js/formulario_registro.js"></script>

{% endblock %}