<!-- Imprtamos todo el ducumento de layout -->
{% extends './layout.html' %}

<!-- creamos la ruta par los estilos css -->
{% block customCSS %}
<link rel="stylesheet" href="../static/css/login.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}

<!-- Creamos el body sel documento -->
{% block body %}
<div class="contenedor-login">
  <h1 class="title_login">
    <i class="fa-solid fa-bowl-food"></i>Food&Events<i
      class="fa-solid fa-champagne-glasses"
    ></i>
  </h1>
  <div class="container_login">
    <div class="imgLogin-contenedor card">
      <img src="../static/img/login_img.png" alt="" class="login-img" />
    </div>

    <form
      class="contenedor_form card"
      action="/inicio"
      method="POST"
      id="formulario_login"
      
    >
      {% with mensage = get_flashed_messages() %} {% if mensage %} {%for mensa
      in mensage %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{mensa}}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <h3>Iniciar Sesion</h3>

      <label for="username">Usuario</label>
      <input
        class="form-control"
        type="text"
        placeholder="@User"
        name="username"
        id="usuarioLogin"
        
      />

      <label for="password">Contraseña</label>
      <input
      class="form-control"
        type="password"
        placeholder="*******"
        name="password"
        id="contraLogin"
        
      />

      <button class="btn btn-primary" id="btnIniciar">Iniciar</button>
      <p>
        ¿No tienes cuenta?
        <a class="container-btn" href="/formulario_registro"
          style="text-decoration: none;
          background: none;"><strong>Crear Cuenta</strong>
        </a>
      </p>
    </form>
  </div>
</div>

<script src="../static/js/login.js"></script>

{% endblock %}
