<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- estilos css -->
    <!-- estilos css -->
    {% block customCSS %}
    {% endblock %}
    <link rel="stylesheet" href="../static/css/productos.css"> 
    <link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>
    <div class="contenedor">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/productos"><i class="fa-solid fa-bowl-food"></i> Food&Events <i class="fa-solid fa-champagne-glasses"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% block enlaces %}
              <a class="nav-link active" aria-current="page" href="#food"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Comida</a>
              <a class="nav-link active" href="#events"><i class="fa-sharp fa-solid fa-magnifying-glass"></i> Eventos</a>

              {% endblock %}
              <a class="nav-link" href="/logout"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Salir</a>
              <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
            </div>
          </div>
        </div>
        </nav>
        <hr class="division-linea">
    </div>
    {% block bodyProductos %}
    {% endblock %}
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/2264b308ab.js" crossorigin="anonymous"></script>
    <!-- Boostrap responsive -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<footer class="footer">
  
  <a class="navbar-brand logoFooter" href="/"><i class="fa-solid fa-bowl-food"></i> Food&Events <i class="fa-solid fa-champagne-glasses"></i></a>
  <div class="footerNav">
    <a href=""><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
    <a href=""><i class="fa-brands fa-github"></i> GitHub</a>
  </div>
</footer>


</html>