.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list{
    width: 70%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rodapePrincipal-contatoForm{
    width:25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}


.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 255px;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
    
}

.videoSobre .container{
    display: flex;
    justify-content: space-between;
}
.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}