/* .contenedor-inicio{
    background-color: bisque;
} */

.title{
    margin-top: 10px;
    letter-spacing: 5px;
    padding: 10px;
}

.contenedor-inicio2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contenedorimgPrincipal{
    min-width: 45%;
}
.img-contenedor{
    /* opacity:60%; */
    width: 90%;
    height:500px;
    box-shadow: 2px solid black;
}


.section-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contenedort-inicial{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.parrafo-inicial{
    width: 45%;
}
    .parrafo-inicial{
        margin-right: 20px;
        font-size: 26px;
    }
.section-segunda{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
    .text-about{
        font-size: 26px;
        margin-left: 60px;
    }

.sectionTabla{
    margin-top: 30px;    
}
.formCrear{
    padding: 30px;
}

.botonAdminitrarFood{
    text-decoration: none;
    background-color: rgb(44, 157, 244);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
    .botonAdminitrarFood:hover{
        color: white;
        background-color: rgb(57, 144, 213);
    }

@media(min-width:868px){
    .img-contenedor{
        /* opacity:60%; */
        width: 90%;
        height:630px;
    }
}
@media(max-width:868px){
    .text-about{
        font-size: 16px;
        margin-left: 10px;
    }
    .section-about-img{
        height: 350px;
    }
    .parrafo-inicial{
        margin-right: 20px;
        font-size: 18px;
    }
    
}
@media(max-width:608px){
    .section-segunda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .text-about{
        font-size: 16px;
        margin-left: 10px;
    }
    .section-about-img{
        height: 350px;
    }
}